<section class="page-title-section2 bg-img cover-background top-position1"
            data-overlay-dark="4"
            [style.backgroundImage]="'url(' + bannerImage + ')'">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Shows</h1>
            </div>
            <div class="col-md-12">
                <ul class="ps-0">
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="/shows">Shows</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
