<footer>
    <div class="container">
        <div class="row mt-n1-9">

            <div class="col-md-6 col-lg-4 mt-1-9">

                <img alt="footer-logo" src="/assets/imgs/logos/logo-footer.png" />
                <div class="mt-1-9 footer-social-icons">
                    <ul class="ps-0">
                        <li><a href="https://www.facebook.com/rivercitysyndicateva" target="_blank"><span class="fab fa-facebook-f"></span></a></li>
                        <li><a href="https://www.youtube.com/@RiverCitySyndicate" target="_blank"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-6 col-lg-4 mt-1-9">
                <h3 class="footer-title-style2 text-primary">Quick Links</h3>
                <div class="row">
                    <div class="col-md-12 pe-lg-0">
                        <ul class="footer-list mb-2 mb-md-0 ps-0">
                            <li>
                                <a routerLink="" title="Home">Home</a>
                            </li>
                            <li>
                                <a routerLink="shows" title="Shows">Shows</a>
                            </li>
                            <li>
                                <a routerLink="photos" title="">Photos</a>
                            </li>
                            <li>
                                <a routerLink="videos" title="">Videos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 col-xl-3 offset-xl-1 mt-1-9">
                <h3 class="footer-title-style2 text-primary">Get in Touch</h3>
                <ul class="footer-list ps-0">
                    <li>
                        <span class="d-inline-block align-top"><span class="fas fa-mobile-alt text-primary"></span></span>
                        <span class="d-inline-block w-85 align-top ps-2"><a href="tel:8044755378">(804) 475-5378</a></span>
                    </li>
                    <li>
                        <span class="d-inline-block align-top"><span class="far fa-envelope text-primary"></span></span>
                        <span class="d-inline-block w-85 align-top ps-2"><a href="mailto:shane.fowlkes.70@gmail.com">shane.fowlkes.70&#64;gmail.com</a></span>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <div class="footer-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">
                    <p>
                        River City Syndicate
                        <span class="current-year"></span>. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
