<app-photos-title />

<section>

    <div class="container">
        <div class="section-heading">
            <h2>Our Latest Photos</h2>
            <p class="w-md-75 w-lg-55">
                Welcome to the official photo gallery for River City Syndicate, a band that proves rock ‘n’ roll doesn’t come with an
                expiration date—just slightly longer warm-ups and more sensible footwear.
                These middle-aged maestros may ice their knees after the show,
                but on stage they still rock like it’s 1987.
            </p>
        </div>

        <div class="row">

            <!-- Start links -->
            <!-- <div class="filtering col-sm-12 text-center">
                <span data-filter='*' class="active">show all</span>
                <span data-filter='.02142026'>Feb 14, 2026</span>
                <span data-filter='.photography'>photography</span>
                <span data-filter='.branding'>branding</span>
                <span data-filter='.graphic'>graphic</span>
            </div> -->
            <!-- End links -->

        </div>

        <!-- start portfolio gallery -->
        <div class="portfolio-gallery-isotope text-center row">

            <div *ngFor="let photo of photos"
                 class="col-lg-4 col-md-6 items web-design mt-3"
                 [attr.data-src]="getPhotoDataSrc(photo.fileName)"
                 [attr.data-sub-html]="getPhotoDataSubHtml(photo)">
                <div class="project-grid">
                    <div class="project-grid-img">
                        <a href="javascript:void(0);">
                            <img alt="..."
                            [src]="getPhotoPath(photo.fileName)">
                        </a>
                    </div>
                    <div class="project-grid-overlay">
                        <div class="w-100 px-3">
                            <h4><a href="javascript:void(0);">{{ photo.heading }}</a></h4>
                            <p>{{ photo.description }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end portfolio gallery -->

    </div>

</section>
