<section class="md">
    <div class="container">
        <div class="bg-white box-shadow-primary">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="text-center">
                        <img src="/assets/imgs/content/home/about-rcs.png" alt="Elle Christine" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div>
                        <div class="p-1-6 p-md-1-9">
                            <h2 class="mb-3">About River City Syndicate</h2>
                            <p class="w-95 mb-3">
                                River City Syndicate is a fun-loving rock band based out of Richmond, Virginia,
                                made up of middle-aged men who still remember when gas was cheap and rock was loud.
                                They tear through crowd-pleasing covers of all your favorite hits—mostly from back when
                                knees didn’t crack—while sneaking in a few original songs for good measure.
                                Equal parts energy and experience, they’ll get you up and dancing, or at
                                least enthusiastically nodding along while reminiscing about “the good old days.”
                                Whether it’s a packed dance floor or a well-earned beer break, these guys know how to bring the party.
                            </p>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
