<section class="bg-img banner-section cover-background full-screen left-overlay-dark top-position1"
            data-overlay-dark="5"
            [style.backgroundImage]="'url(' + bannerImage + ')'"
            [style.minHeight.px]="screenHeight"
            id="PageTitleSection">

    <div class="container position-absolute top-50 start-50 translate-middle z-index-9">
        <div class="row align-items-center">
            <div class="col-lg-8 col-xxl-6">
                <h1 class="display-lg-6 mb-3 mb-lg-4 text-white">
                    RIVER CITY SYNDICATE
                </h1>
                <p class="w-md-95 lead text-white opacity7 d-none d-sm-block">
                    Dad bods and rock gods can be one and the same.
                    Fueled by riffs, nostalgia, and just enough ibuprofen, we bring the noise - because earplugs are for the weak.
                </p>
                <div class="mt-1-9 text-center">
                    <a routerLink="shows"
                        class="butn btn-lg primary white-hover">
                        <span>Upcoming Shows</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
