.accordion-style {
    .btn-link {
        background: $primary-color !important;
        color: #fff;
        font-size: 18px !important;
    }

    .btn-link:hover {
        background: $blue-700 !important;
        border: none;
        text-decoration: none;
    }

    .card-body
    {
        font-size: 18px !important;
    }
}
