.navbar-header-custom
{
    padding: 0px !important;

    .navbar-brand
    {
        // brand logo in nav
        img
        {
            max-height: 150px !important;
        }
    }
}


.navbar-header-custom {
    padding: 0px 0 20px 0;
}


.top-position1 {
    margin-top: -152px;
}
