        <header class="header-style1 menu_area-light">
            <div class="navbar-default border-bottom border-color-light-white">
                <div class="container-fluid px-lg-1-6 px-xl-2-5 px-xxl-2-9">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light p-0">

                                    <div class="navbar-header navbar-header-custom">
                                        <a href="/" class="navbar-brand h-default">
                                            <img id="logo" src="/assets/imgs/logos/header-logo-2.png"
                                                alt="River City Syndicate - Premiere good-time band from Richmond, Virginia"
                                                title="River City Syndicate - Premiere good-time band from Richmond, Virginia" />
                                        </a>
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <ul class="navbar-nav ms-auto" id="nav" style="display: none;">
                                        <li>
                                            <a routerLink="">Home</a>
                                        </li>
                                        <li>
                                            <a routerLink="shows" title="Shows">Shows</a>
                                        </li>
                                        <li>
                                            <a routerLink="photos" title="Photos">Photos</a>
                                        </li>
                                        <li>
                                            <a routerLink="videos" title="Videos">Videos</a>
                                        </li>
                                        <li>
                                            <a routerLink="links" title="Links">Links</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
